<div ng-switch="vm.isAuthenticated()" ng-cloak>
  <div class="row text-center">
    
    <div class="col-md-12">
      <h1 align="center">Witaj na mojej stronie!</h1>
      <div >
        <div ng-switch-when="true">
        <p class="lead" >Wybierz zakładkę do której chcesz się udać</p>
        <button type="button" class="btn btn-primary" ng-click="vm.cinema()">Kino - symulacja szybkiej rezerwacji biletów w kinie</button>
        <button type="button" class="btn btn-primary" ng-click="vm.bank()">Bank - zarządzanie kontem w banku</button>
        <button type="button" class="btn btn-primary" ng-click="vm.library()">Biblioteka - zarządzanie zbiorami biblioteki</button>
        </div>
        <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
          If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:
          <br/>- Administrator (login="admin" and password="admin")
          <br/>- User (login="user" and password="user").
        </div>
        <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
          You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
        </div>
      </div>
    </div>
  </div>
</div>
