<form name="seatReserv" ng-submit="vm.submitSeats()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title">Proszę wybrać miejsca</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="screen" style="margin-bottom: 20px";>EKRAN</div>
    </div>

    <div class="row">

      <ol>
        <li class="row row--1">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="A1" />
              <label for="A1">A1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A2" />
              <label for="A2">A2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A3" />
              <label for="A3">A3</label>
            </li>
            <li class="seat">
              <input type="checkbox" disabled id="A4" />
              <label for="A4">Occupied</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A5" />
              <label for="A5">A5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A6" />
              <label for="A6">A6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A7" />
              <label for="A7">A7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A8" />
              <label for="A8">A8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="A9" />
              <label for="A9">A9</label>
            </li>
          </ol>
        </li>
        <li class="row row--2">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="B1" />
              <label for="B1">B1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B2" />
              <label for="B2">B2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B3" />
              <label for="B3">B3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B4" />
              <label for="B4">B4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B5" />
              <label for="B5">B5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B6" />
              <label for="B6">B6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B7" />
              <label for="B7">B7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B8" />
              <label for="B8">B8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="B9" />
              <label for="B9">B9</label>
            </li>
          </ol>
        </li>
        <li class="row row--3">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="C1" />
              <label for="C1">C1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C2" />
              <label for="C2">C2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C3" />
              <label for="C3">C3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C4" />
              <label for="C4">C4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C5" />
              <label for="C5">C5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C6" />
              <label for="C6">C6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C7" />
              <label for="C7">C7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C8" />
              <label for="C8">C8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="C9" />
              <label for="C9">C9</label>
            </li>
          </ol>
        </li>
        <li class="row row--4">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="D1" />
              <label for="D1">D1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D2" />
              <label for="D2">D2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D3" />
              <label for="D3">D3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D4" />
              <label for="D4">D4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D5" />
              <label for="D5">D5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D6" />
              <label for="D6">D6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D7" />
              <label for="D7">D7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D8" />
              <label for="D8">D8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="D9" />
              <label for="D9">D9</label>
            </li>
          </ol>
        </li>
        <li class="row row--5">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="E1" />
              <label for="E1">E1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E2" />
              <label for="E2">E2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E3" />
              <label for="E3">E3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E4" />
              <label for="E4">E4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E5" />
              <label for="E5">E5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E6" />
              <label for="E6">E6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E7" />
              <label for="E7">E7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E8" />
              <label for="E8">E8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="E9" />
              <label for="E9">E9</label>
            </li>
          </ol>
        </li>
        <li class="row row--6">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="F1" />
              <label for="F1">F1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F2" />
              <label for="F2">F2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F3" />
              <label for="F3">F3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F4" />
              <label for="F4">F4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F5" />
              <label for="F5">F5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F6" />
              <label for="F6">F6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F7" />
              <label for="F7">F7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F8" />
              <label for="F8">F8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="F9" />
              <label for="F9">F9</label>
            </li>
          </ol>
        </li>
        <li class="row row--7">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="G1" />
              <label for="G1">G1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G2" />
              <label for="G2">G2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G3" />
              <label for="G3">G3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G4" />
              <label for="G4">G4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G5" />
              <label for="G5">G5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G6" />
              <label for="G6">G6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G7" />
              <label for="G7">G7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G8" />
              <label for="G8">G8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="G9" />
              <label for="G9">G9</label>
            </li>
          </ol>
        </li>
        <li class="row row--8">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="H1" />
              <label for="H1">H1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H2" />
              <label for="H2">H2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H3" />
              <label for="H3">H3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H4" />
              <label for="H4">H4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H5" />
              <label for="H5">H5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H6" />
              <label for="H6">H6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H7" />
              <label for="H7">H7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H8" />
              <label for="H8">H8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="H9" />
              <label for="H9">H9</label>
            </li>
          </ol>
        </li>
        <li class="row row--9">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="I1" />
              <label for="I1">I1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I2" />
              <label for="I2">I2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I3" />
              <label for="I3">I3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I4" />
              <label for="I4">I4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I5" />
              <label for="I5">I5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I6" />
              <label for="I6">I6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I7" />
              <label for="I7">I7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I8" />
              <label for="I8">I8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="I9" />
              <label for="I9">I9</label>
            </li>
          </ol>
        </li>
        <li class="row row--10">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="J1" />
              <label for="J1">J1</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J2" />
              <label for="J2">J2</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J3" />
              <label for="J3">J3</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J4" />
              <label for="J4">J4</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J5" />
              <label for="J5">J5</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J6" />
              <label for="J6">J6</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J7" />
              <label for="J7">J7</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J8" />
              <label for="J8">J8</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="J9" />
              <label for="J9">J9</label>
            </li>
          </ol>
        </li>
      </ol>

    </div>
  </div>

  <div class="modal-footer">
    <button  class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span>&nbsp;<span >Dalej</span>
    </button>
  </div>
</form>
